{{!-- layouts/base.hbs --}}
<!doctype html>
<html lang="nl-be" dir="ltr" prefix="og: http://ogp.me/ns#">
  <head>
    {{!-- Character encoding --}}
	  <meta charset="UTF-8"> 
	  {{!-- Latest version of rendering engine --}}
	  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {{!-- Mobile Viewport --}}
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {{> includes/head-seo}}

    {{> includes/head-opengraph}}

    {{!-- humans.txt --}}
    <link rel="author" type="text/plain" href="/humans.txt">
    {{!-- DNS prefech for CDN --}}
    <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
    <link rel="dns-prefetch" href="//cdn.jsdelivr.net">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">

    {{> includes/head-icons}}
    <link rel="stylesheet" media="all" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" media="all" href="{{#if pathToRoot}}{{pathToRoot}}{{/if}}assets/css/main.css">

    {{#> head-block}}
      {{!-- Custom <head> content per page. --}}
    {{/head-block}}

  </head>
  <body>

    <a href="#" class="menu-toggle">
      <span class="fa fa-bars"></span>
    </a>

    <div class="mobile-menu">
      <script id="mobile-navigation" type="text/x-handlebars-template">
      <ul>
        {{#each navItems}}
        <li><a href="{{navLink}}">{{navTitle}}</a></li>
        {{/each}}
        <li class="mobile-menu__logout"><a href="#">Login</a></li>
      </ul>
      <ul class="mobile-menu__social">
        {{#each SocialItems}}
        <li><a href="{{navLink}}" class="fa fa-{{socialName}}"></a></li>
        {{/each}}
      </ul>
      </script>

     <div class="desktop-navigation"></div>
    <script id="desktop-navigation" type="text/x-handlebars-template">
      <ul>
        {{#each userControl}}
        <a href="{{navLink}}"><li class="nav__user-functions"><img src="assets/images/nav/pink/{{navIcon}}"/></li></a>
        {{/each}}

        {{#each navItems}}
        <a href="{{navLink}}">
            <li class="menu {{separatorClass}}">
                <img src="assets/images/nav/white/{{navIcon}}"/>
            </li>
            <p class="menu-item {{separatorClass}}">{{navTitle}}</p>
        </a>
        {{/each}}

        {{#each SocialItems}}
        <a href="{{navLink}}"><li class="social {{separatorClass}}"><img src="assets/images/nav/pink{{socialName}}"/></li></a>
        {{/each}}
      </ul>
    </script>

    {{#> content-block}}
      {{!-- Content for the page goes here. --}}
    {{/content-block}}

    {{> includes/footer}}

    <!-- build:js assets/js/main.min.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.js"></script>
    <script src="{{#if pathToRoot}}{{pathToRoot}}{{/if}}assets/js/main.js"></script>
    <!-- endbuild -->

    {{#> scripts-block}}
      {{!-- Custom scripts per pag.e --}}
    {{/scripts-block}}

    {{> includes/google-analytics}}

  </body>
</html>